.footer {
    bottom: 0px;
    color: white;
    background: $black;
    &__mobile-logo {
        display: none;
        img {
            width: 158px;
        }
        @include md {
            display: block;
            text-align: center;
            padding: 24px 0;
            border-bottom: 1px rgba(white, 0.15) solid;
        }
    }
    .navigation {
        display: block;
        position: static;
        height: auto;
        min-height: auto;
        @include md {
            &__socials {
                padding: 20px 0;
                border-bottom: 1px rgba(white, 0.15) solid;
            }
            &__adress {
                padding: 20px 0;
                text-align: left;
                border-bottom: 1px rgba(white, 0.15) solid;
                width: 100%;
                justify-content: space-between;
            }
        }
        &__cols {
            @include md {
                display: none;
            }
        }
        &__footer {
            align-items: center;
            text-align: center;
            @include md {
                padding: 0;
                flex-direction: column-reverse;
                gap: 0;
            }
        }
    }
    .copyright {
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-top: 1px rgba(white, 0.15) solid;
        gap: 24px;
        @include md {
            border-top: none;
            border-bottom: 1px rgba(white, 0.15) solid;
            justify-content: space-between;
        }
        &__mobile {
            display: none;
            @include md {
                display: block;
            }
        }
        &__links {
            gap: 20px;
            display: flex;
            align-items: center;
            font-size: 12px;
            @include md {
                display: none;
            }

            a {
                opacity: 0.5;
                text-decoration: none;
                &:hover {
                    opacity: 1;
                }
            }
            span {
                opacity: 0.5;
            }
        }
        &__logo {
            gap: 12px;
            display: flex;
            align-items: center;
            margin-right: auto;
            @include md {
                display: none;
            }
            span {
                font-weight: 200;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
        &__developer {
            font-size: 14px;
            text-decoration: none;
            @include hover {
                opacity: 0.7;
            }
        }
    }
}
.mobile-cart-btn {
    display: none;
    @include sm {
        z-index: 10;
        position: fixed;
        right: 15px;
        bottom: 15px;
        height: 40px;
        border-radius: 20px;
        padding: 10px 15px;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    i {
        font-size: 18px;
    }
    &__badge {
        font-weight: 500;
        text-align: center;
        display: block;
        padding: 0 5px;
        min-width: 20px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 20px;
        background: #ff1834;
        color: white;
    }
}
