.footer {
    bottom: 0px;
    color: white;
    background: $black;
    &__mobile-logo {
        display: none;
        img {
            width: 158px;
        }
        @include md {
            display: block;
            text-align: center;
            padding: 24px 0;
            border-bottom: 1px rgba(white, 0.15) solid;
        }
    }
    .navigation {
        display: block;
        position: static;
        height: auto;
        min-height: auto;
        &__adress {
            text-align: left;
        }
        @include md {
            &__socials {
                padding: 20px 0;
                border-bottom: 1px rgba(white, 0.15) solid;
            }
            &__adress {
                padding: 20px 0;
                text-align: left;
                border-bottom: 1px rgba(white, 0.15) solid;
                width: 100%;
                justify-content: space-between;
            }
        }
        &__cols {
            @include md {
                display: none;
            }
        }
        &__footer {
            align-items: center;
            text-align: center;
            @include md {
                padding: 0;
                flex-direction: column-reverse;
                gap: 0;
            }
        }
    }
    .copyright {
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-top: 1px rgba(white, 0.15) solid;
        gap: 24px;
        @include md {
            border-top: none;
            border-bottom: 1px rgba(white, 0.15) solid;
            justify-content: space-between;
        }
        &__mobile {
            display: none;
            @include md {
                display: block;
            }
        }
        &__links {
            gap: 20px;
            display: flex;
            align-items: center;
            font-size: 12px;
            @include md {
                display: none;
            }

            a {
                opacity: 0.5;
                text-decoration: none;
                &:hover {
                    opacity: 1;
                }
            }
            span {
                opacity: 0.5;
            }
        }
        &__logo {
            gap: 12px;
            display: flex;
            align-items: center;
            margin-right: auto;
            @include md {
                display: none;
            }
            span {
                font-weight: 200;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
        &__developer {
            font-size: 14px;
            text-decoration: none;
            @include hover {
                opacity: 0.7;
            }
        }
    }
}
.mobile-cart-btn {
    display: none;
    @include sm {
        z-index: 10;
        position: fixed;
        right: 15px;
        bottom: 15px;
        height: 40px;
        border-radius: 20px;
        padding: 10px 15px;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    i {
        font-size: 18px;
    }
    &__badge {
        font-weight: 500;
        text-align: center;
        display: block;
        padding: 0 5px;
        min-width: 20px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 20px;
        background: #ff1834;
        color: white;
    }
}

.footer-mini {
    padding: 1.5rem 0;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px rgba(white, 0.15) solid;
    z-index: 1;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include md {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
    &__logo {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__links {
        text-transform: uppercase;
        letter-spacing: 1px;
        gap: 1.5rem;
        a {
            font-size: 0.75rem;
            text-decoration: none;
            border-left: 1px rgba(white, 0.5) solid;
            padding: 0 1.5rem;
            color: rgba(white, 0.5);
            transition: all 0.3s;
            &:first-child {
                border: none;
            }
            &:hover {
                color: white;
            }
            @include sm {
                padding: 0 0.5rem;
            }
        }
    }
}
.game-loader {
    display: none;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    &__text {
        white-space: nowrap;
        font-size: 6.25rem;
        @include md {
            font-size: 2.5rem;
        }
    }
    &__progress {
        position: relative;
        height: 1px;
        background: #fff;
        &-bar {
            width: var(--progress);
            height: 1px;
            background: #ff0000;
        }
        &-counter {
            font-family: 'Onest';
            top: 0.5rem;
            position: absolute;
            left: 50%;
            translate: -50% 0;
        }
    }
}
