.header {
    $root: &;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    transition: 0.3s background;
    z-index: 50;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: rgba(#fff, 0.15);
        @include md {
            display: none;
        }
    }
    @include md {
        height: 70px;
    }
    > .container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 200px;
        height: 56px;
        background-image: url(../img/logos/logo-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        @include md {
            height: 44px;
            background-size: auto 100%;
        }
    }
    &__tools {
        display: flex;
        gap: 24px;
    }
    &__tools-link {
        &_user {
            @include md {
                display: none;
            }
        }
        &_cart {
            position: relative;
            @include sm {
                display: none;
            }
        }
        > [class^='icon-'] {
            font-size: 24px;
            @include hover {
                &:hover {
                    opacity: 0.7;
                }
            }
            @include md {
                font-size: 16px;
            }
        }
    }
    &__cart-badge {
        right: -12px;
        top: -50%;
        position: absolute;
        font-weight: 500;
        text-align: center;
        display: block;
        padding: 0 5px;
        min-width: 20px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 20px;
        background: #ff1834;
        color: white;
    }
    &__cart-text {
        display: none;
    }
    &__search {
        @include md {
            display: none;
        }
    }
    &__search-form {
        display: none;
        top: 50%;
        right: 15px;
        width: calc(100% - 30px);
        max-width: 765px;
        position: absolute;
        transform: translateY(-50%);
        z-index: 2;
        @include md {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 100%;
            transform: none;
            position: relative;
            right: auto;
            top: auto;
            left: auto;
            display: block !important;
        }
    }
    &__search-input {
        color: #1f2022;
        padding: 0 25px;
        width: 100%;
        height: 60px;
        background: #fff;
        border-radius: 30px;
        border: none;
        @include md {
            height: 50px;
            background: #1f2022;
            border: 1px rgba(#fff, 0.15) solid;
            color: white;
            i {
                color: rgba(#fff, 0.15);
            }
        }
    }
    &__search-submit {
        font-size: 18px;
        padding: 0 24px;
        height: 100%;
        right: 0;
        top: 0;
        position: absolute;
        color: #1f2022;
        @include md {
            color: rgba(#fff, 0.15);
        }
    }
    &__search-btn {
        cursor: pointer;
        > [class^='icon-'] {
            font-size: 24px;
            @include hover {
                &:hover {
                    opacity: 0.7;
                }
            }
            @include md {
                font-size: 16px;
            }
        }
    }
    &__search-drop {
        display: none;
        color: #1f2022;
        background: #fff;
        overflow: hidden;
        top: 70px;
        width: 100%;
        padding: 30px;
        border-radius: 20px;
        position: absolute;
        a {
            text-decoration: none;
        }
        @include md {
            height: 70vh;
            overflow: auto;
            padding: 15px;
            border-radius: 20px;
        }
    }
    &__popular-title {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        position: relative;
        gap: 15px;
        letter-spacing: 1px;
        font-weight: 200;
        i {
            flex: 1 1 auto;
            height: 1px;
            background: rgba(#1f2022, 0.15);
            display: block;
            opacity: 0.3;
        }
    }
    &__popular-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px 20px;
        a:hover {
            opacity: 0.7;
        }
        @include md {
            grid-template-columns: 1fr;
        }
    }
    &_black {
        color: #1f2022;
        background: #e5e5e5;
        &:after {
            background: rgba(#000, 0.1);
        }
        #{$root}__logo {
            background-image: url(../img/logos/logo-black.svg);
        }
        .header-burger__lines {
            &:after,
            &:before {
                background: #1f2022;
            }
        }
    }
    &_open,
    &_scrolled {
        color: white;
        &:after {
            background: none;
        }
        #{$root}__logo {
            background-image: url(../img/logos/logo-white.svg);
        }
        .header-burger__lines {
            &:after,
            &:before {
                background: white;
            }
        }
    }
    &_scrolled {
        background: rgba(#1f2022, 0.7);
        backdrop-filter: blur(20px);
    }
    &_open {
        background: #1f2022;
    }
}
.search-result {
    &__item {
        padding: 15px 0;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px rgba(#1f2022, 0.15) solid;
        transition: opacity 0.3s;
        &:first-child {
            border: none;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    &__type {
        color: #7c7c7c;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        @include md {
            display: none;
        }
    }
    &__product {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__product-img {
        width: 85px;
        border: 1px rgba(#1f2022, 0.15) solid;
        @include md {
            width: 55px;
        }
    }
    &__product-series {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__category {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__product-price {
        font-weight: 700;
    }
}
.language-select {
    position: relative;
    .icon {
        font-size: 24px;
        pointer-events: none;
    }
    &__current {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__drop {
        display: none;
        top: 120%;
        left: 50%;
        border-radius: 10px;
        font-size: 14px;
        position: absolute;
        background: black;
        padding: 5px 0;
        transform: translateX(-50%);
        z-index: 1;
    }
    &__item {
        color: #fff;
        display: block;
        padding: 5px 15px;
        &:hover {
            opacity: 0.7;
        }
    }
    @include md {
        z-index: 3;
    }
}
.header-burger {
    display: flex;
    align-items: center;
    gap: 20px;
    &_active {
        .header-burger__lines {
            &:after {
                transform: translateY(-6px) rotate(-45deg);
            }
            &:before {
                transform: translateY(6px) rotate(45deg);
            }
        }
    }
    &__lines {
        position: relative;
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        &:after,
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            transition: all 0.3s;
        }
        @include md {
            height: 25px;
            width: 25px;
        }
    }
    &__text {
        font-size: 14px;
        text-transform: uppercase;
        @include md {
            display: none;
        }
    }
}
.navigation {
    display: none;
    width: 100%;
    position: absolute;
    background: #1f2022;
    height: calc(100dvh - 100px);
    overflow: auto;
    @include scrollbars(5px, #ccc, #1f2022);
    @include md {
        min-height: calc(100dvh - 70px);
    }
    > .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__account {
        font-size: 24px;
        padding: 5px 10px;
    }
    &__head {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__footer {
        display: flex;
        align-items: center;
        border-top: 1px rgba(white, 0.15) solid;
        justify-content: space-between;
        padding: 24px 0;
        @include md {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            border: none;
        }
    }
    &__adress {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        gap: 30px;
        a {
            display: inline-block;
            border: 1px rgba(#fff, 0.15) solid;
            border-radius: 25px;
            font-size: 14px;
            line-height: 40px;
            padding: 0 20px;
            text-decoration: none;
            @include hover {
                background: white;
                border-color: white;
                color: black;
            }
        }
    }
    &__socials {
        font-size: 24px;
        display: flex;
        gap: 1rem;
        a {
            transition: all 0.3s;
        }
        a:hover {
            opacity: 0.5;
        }
        @include md {
            width: 100%;
            justify-content: space-evenly;
        }
    }
}

.main-nav {
    margin: auto 0;
    @include md {
        margin: 0 0 auto;
    }
    &__cols {
        margin: 30px 0;
        position: relative;
        @include md {
            margin: 0;
        }
    }
    a {
        text-decoration: none;
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0px;
        width: 50%;
        @include md {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    &__list-item {
        &_hide-desk {
            display: none;
            @include md {
                display: block;
            }
        }
        @include md {
            border-bottom: 1px rgba(#fff, 0.15) solid;
        }
        &:hover {
            color: $orange;
            .main-nav__sub-list {
                opacity: 1;
                pointer-events: all;
            }
            .main-nav__link_has-sub:before {
                opacity: 1;
            }
            .main-nav__curves {
                opacity: 1;
            }
        }
    }
    &__link {
        display: block;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 3px;
        padding: 12px 0;
        position: relative;
        cursor: pointer;
        @include md {
            font-size: 14px;
            padding: 20px 0;
            &:active {
                color: $orange;
                background: rgba(#fff, 0.05);
            }
        }
        &_has-sub:before {
            content: '';
            display: block;
            position: absolute;
            left: -20px;
            top: 0px;
            right: 21px;
            height: 100%;
            border: 1px rgba($orange, 0.25) solid;
            border-right: 0px;
            border-radius: 20px 0 0 20px;
            pointer-events: none;
            opacity: 0;
            @include md {
                opacity: 1;
                width: 10px;
                height: 10px;
                border: none;
                border-right: 2px white solid;
                border-bottom: 2px white solid;
                right: 5px;
                left: auto;
                bottom: 30px;
                border-radius: 0px;
                rotate: 45deg;
                top: auto;
            }
        }
    }
    &__curves {
        position: absolute;
        right: -1px;
        width: 1px;
        top: -22px;
        bottom: -22px;
        pointer-events: none;
        background: #1f2022;
        z-index: 1;
        opacity: 0;
        @include md {
            display: none;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            width: 44px;
            height: 44px;
            border: 1px rgba($orange, 0.25) solid;
            border-radius: 50%;
            z-index: 2;
        }
        &:before {
            position: absolute;
            right: 0px;
            top: -21px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            rotate: 45deg;
        }
        &:after {
            position: absolute;
            right: 0px;
            bottom: -21px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            rotate: -45deg;
        }
    }
    &__sub-list {
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        position: absolute;
        left: 50%;
        width: 50%;
        min-height: 100%;
        border: 1px rgba($orange, 0.25) solid;
        padding: 30px 60px;
        border-radius: 20px;
        opacity: 0;
        pointer-events: none;
        @include md {
            display: none;
            border-radius: 0px;
            gap: 0px;
            padding: 0px;
            border: none;
            width: auto;
            position: static;
            opacity: 1;
            pointer-events: all;
            margin: 0;
        }
    }
    &__sub-list-item {
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 300;
        @include md {
            text-transform: uppercase;
            font-size: 14px;
            border-top: 1px rgba(#fff, 0.15) solid;
        }
    }
    &__sub-link {
        color: white;
        text-transform: uppercase;
        @include md {
            display: block;
            padding: 20px 0 20px 30px;
            color: rgba(#fff, 0.7);
            &:active {
                color: $orange;
                background: rgba(#fff, 0.05);
            }
        }
        @include hover {
            color: $orange;
        }
    }
}

.secondary-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 10%;
    @include lg {
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    @include md {
        margin-bottom: 0;
    }
    &__btns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        flex: 0 0 320px;
        align-self: start;
        @include lg {
            flex: 1 1 auto;
            grid-template-columns: 1fr 1fr;
        }
        @include md {
            grid-template-columns: 1fr;
        }
    }
    &__links-col {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include lg {
            display: none;
        }
    }
    &__title {
        font-size: 14px;
        letter-spacing: 2px;
        border-bottom: 1px rgba(white, 0.15) solid;
        padding-bottom: 16px;
        margin-bottom: 20px;
    }
    &__links {
        font-size: 14px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px 30px;
        &_single {
            grid-template-columns: 1fr;
        }
    }
    &__link {
        opacity: 0.7;
        text-decoration: none;
        @include hover {
            opacity: 1;
        }
    }
}
