.blocker {
    backdrop-filter: blur(5px);
    z-index: 100;
    &:has(.cart-modal) {
        overflow: hidden;
    }
}
.cart-modal {
    display: none;
    width: 500px;
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    @include sm {
        width: 100%;
        max-width: 400px;
    }
    &_in {
        animation: 0.5s cartIn both;
    }
    &__wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__head {
        flex: 0 0 auto;
        border-bottom: 1px rgba(#1f2022, 0.15) solid;
        padding: 30px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include sm {
            padding: 20px 30px;
        }
    }
    &__content {
        flex: 1 1 auto;
        padding: 30px 50px;
        overflow: auto;
        @include scrollbars(6px, rgba(#1f2022, 0.5), transparent);
        @include sm {
            padding: 20px 30px;
        }
    }
    &__footer {
        display: grid;
        gap: 20px;
        padding: 30px 50px;
        border-top: 1px rgba(#1f2022, 0.15) solid;
        @include sm {
            padding: 20px 30px;
        }
    }
    &__title {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 2px;
        @include sm {
            font-size: 24px;
        }
    }
    &__close {
        width: 40px;
        height: 40px;
        position: relative;
        @include sm {
            width: 30px;
            height: 30px;
        }
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            width: 100%;
            top: 50%;
            height: 1px;
            background: #1f2022;
            transition: all 0.3s;
        }
        &:after {
            rotate: 45deg;
        }
        &:before {
            rotate: -45deg;
        }
        &:hover {
            &:after {
                rotate: -45deg;
                transition-delay: 0.1s;
            }
            &:before {
                rotate: 45deg;
            }
        }
    }
    &__ship-note {
        font-size: 14px;
        color: #7c7c7c;
        text-align: center;
    }
    &__empty {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
.cart-product-list {
    display: grid;
    gap: 30px;
    @include sm {
        gap: 20px;
    }
}
.cart-product {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 20px;
    align-items: center;
    @include sm {
        grid-template-columns: 90px 1fr;
    }
    &__image {
        width: 100%;
        border: 1px rgba(#1f2022, 0.15) solid;
        vertical-align: middle;
    }
    &__info {
        display: grid;
        gap: 10px;
    }
    &__name {
        font-size: 12px;
        font-weight: 300;
        color: #7c7c7c;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include sm {
            font-size: 10px;
        }
    }
    &__series {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include sm {
            font-size: 14px;
        }
    }
    &__price {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        @include sm {
            font-size: 14px;
        }
    }
    &__quantity {
        font-size: 16px;
        font-weight: 300;
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__counts {
        display: flex;
    }
    &__quant-btn {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #7c7c7c;
        &:hover {
            color: black;
        }
    }
    &__quant-input {
        font-weight: 500;
        width: 40px;
        text-align: center;
        appearance: none;
    }
    &__remove {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #d6190c;
        &:hover {
            opacity: 0.7;
        }
    }
}
.common-modal {
    width: 100%;
    max-width: 650px;
    padding: 0px;
    background: #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    a.close-modal {
        background-color: black;
        top: 0px;
        right: 0px;
        &:hover {
            opacity: 0.7;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        @include sm {
            height: 100%;
        }
    }
    @include sm {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
    }
    &__title {
        margin: 0;
        font-size: 32px;
        @include sm {
            font-size: 24px;
        }
    }
    &__subtitle {
        margin-top: 10px;
    }
    &__head {
        padding: 40px 40px 30px 40px;
        @include sm {
            padding: 15px;
            flex: 0 0 auto;
        }
    }
    &__content {
        padding: 0 40px;
        @include sm {
            scroll-behavior: smooth;
            overflow: auto;
            padding: 0 15px;
            flex: 1 1 auto;
        }
    }
    &__footer {
        padding: 30px 40px 40px 40px;
        @include sm {
            padding: 15px;
            flex: 0 0 auto;
        }
    }
}
.clip-file {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    &__btn {
        border: 1px #1f2022 dashed;
        white-space: nowrap;
        border-radius: 30px;
        height: 60px;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 0 30px;
        cursor: pointer;
        small {
            color: #7c7c7c;
        }
        &_error {
            border-color: #ff1834;
            border-style: solid;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    &__input {
        display: none;
    }
    &__name {
        color: #7c7c7c;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__remove {
        &:hover {
            opacity: 0.7;
        }
    }
}
.tech-table {
    width: 100%;
    th {
        width: 40%;
        vertical-align: baseline;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    td {
        vertical-align: baseline;
        padding-bottom: 20px;
    }
}

.video-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0px;
    a.close-modal {
        background-color: black;
        top: 0px;
        right: 0px;
        &:hover {
            opacity: 0.7;
        }
    }
    iframe {
        height: 100%;
        width: 100%;
    }
    video {
        height: 100%;
        width: 100%;
    }
}

.invent-modal {
    border-radius: 0px;
    max-width: 1440px;
    padding: 75px;
    box-shadow: none;
    @include md {
        padding: 30px;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
    }
    &__wrap {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 50px;
        align-items: center;
        @include lg {
            grid-template-columns: 1fr;
        }
        @include md {
            gap: 30px;
        }
    }
    &__image {
        img {
            width: 100%;
        }
    }
    a.close-modal {
        background-color: black;
        top: 0px;
        right: 0px;
        &:hover {
            opacity: 0.7;
        }
    }
}

@keyframes cartIn {
    from {
        translate: 100%;
    }
    to {
        translate: 0;
    }
}
