.products-grid {
    $root: &;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    @include lg {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    &__item {
        position: relative;
        aspect-ratio: 4/5;
        display: flex;
        background: white;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
        overflow: hidden;
        @include hover {
            &:hover {
                color: white;
                box-shadow: 0 0 30px 0px rgba(#000, 0.3);
                background: #374151;
                #{$root}__item-image {
                    img {
                        transform: translateY(0px) scale(1.03);
                    }
                    &:after {
                        background: radial-gradient(
                            circle,
                            rgba(0, 0, 0, 1) 0%,
                            rgba(0, 0, 0, 0) 40%
                        );
                        transform: translateX(-50%) translateY(50%)
                            rotateX(75deg) scale(0.5);
                        opacity: 1;
                    }
                }
            }
        }
        @include md {
            grid-column: 1 span;
            aspect-ratio: 4/5.5;
        }
        .main_dark & {
            background: rgba(white, 0.05);
        }
        &:hover {
            .new-product-request {
                scale: 1;
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }
    &__item-name {
        position: absolute;
        text-transform: uppercase;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        letter-spacing: 2px;
        text-align: center;
        @include md {
            font-size: 12px;
            width: 100%;
            text-align: center;
            top: 20px;
        }
    }
    &__item-image {
        position: relative;
        img {
            transform: translateY(20px);
            transition: transform 0.4s;
            max-width: 350px;
            display: block;
            @include xl {
                max-width: 320px;
            }
            @include md {
                width: 90%;
                margin: 0 auto;
            }
            @include sm {
                width: 100%;
            }
        }
        &:after {
            content: '';
            position: absolute;
            background: radial-gradient(
                circle,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0) 40%
            );
            width: 272px;
            height: 272px;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%) translateY(50%) rotateX(75deg) scale(1);
            transition: all 0.5s;
            opacity: 0.2;
            filter: blur(20px);
            @include md {
                display: none;
            }
        }
    }
    &__item-reward {
        position: absolute;
        right: 30px;
        bottom: 30px;
        @include md {
            right: 10px;
            bottom: 10px;
            width: 20%;
        }
    }
    &__item-status {
        display: block;
        position: absolute;
        background: #2a2b2d;
        text-transform: uppercase;
        color: #fff;
        border-radius: 20px;
        padding: 8px 15px;
        font-size: 12px;
        letter-spacing: 2px;
        bottom: 30px;
        @include sm {
            display: none;
        }
    }
}

.new-product-request {
    color: white;
    background-color: $black;
    position: absolute;
    inset: 0;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    scale: 1.1;
    transition: 0.3s;
    @include sm {
        padding: 30px;
        display: none;
    }
    &_modal {
        min-height: 400px;
        position: static;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        scale: 1;
        @include sm {
            padding: 30px;
            display: flex;
        }
    }
    &__text {
        text-align: center;
        text-transform: uppercase;
        text-wrap: balance;
    }
    &__fields {
        margin: auto 0;
    }
    &__links {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__link {
        line-height: 1;
        font-size: 40px;
        text-decoration: none;
        transition: 0.3s;
        @include hover {
            opacity: 0.7;
        }
    }
}
