.input-2x-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.form-title {
    margin: 30px 0 15px;
    font-size: 20px;
    font-weight: 400;
}

.checkout-radio {
    padding: 0 15px;
    display: flex;
    height: 60px;
    background: white;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: box-shadow 0.3s;
    input {
        display: none;
    }
    &__note {
        margin-left: auto;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        box-shadow: 0 0 0 1px rgba(#1f2022, 0.15);
        border: 6px white solid;
        transition: all 0.3s;
    }
    &:has(input:checked) {
        box-shadow: 0 0 0 1px black;
        &:before {
            background: black;
        }
    }
}

.checkout {
    display: grid;
    grid-template-columns: 60% 40%;
    &__pay {
        margin-top: 30px;
    }
    &__cart-title {
        font-size: 26px;
        margin-bottom: 26px;
    }
}
