.input-2x-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include sm {
        grid-template-columns: 1fr;
        gap: 0;
        margin-bottom: 20px;
    }
}
.form-title {
    margin: 30px 0 15px;
    font-size: 20px;
    font-weight: 400;
    @include sm {
        font-size: 18px;
    }
}

.checkout-radio {
    padding: 0 15px;
    display: flex;
    height: 60px;
    background: white;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: box-shadow 0.3s;
    input {
        display: none;
    }
    &__note {
        margin-left: auto;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        box-shadow: 0 0 0 1px rgba(#1f2022, 0.15);
        border: 6px white solid;
        transition: all 0.3s;
    }
    &:has(input:checked) {
        box-shadow: 0 0 0 1px black;
        &:before {
            background: black;
        }
    }
}

.checkout {
    display: grid;
    grid-template-columns: 60% 40%;
    @include md {
        grid-template-columns: 1fr;
    }
    &__form {
        padding-right: 80px;
        @include lg {
            padding-right: 30px;
        }
        @include md {
            padding-right: 0;
        }
    }
    &__cart {
        padding-left: 80px;
        position: relative;
        @include lg {
            padding-left: 30px;
        }
        @include md {
            display: none;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            height: 100%;
            width: 1px;
            background: rgba(#1f2022, 0.15);
        }
    }
    &__pay {
        margin-top: 30px;
    }
    &__cart-title {
        font-size: 26px;
        margin-bottom: 26px;
    }
    &__pay-card {
        background: rgba(white, 0.5);
        border-radius: 8px;
        margin-bottom: 20px;
    }
    &__pay-card-form {
        display: none;
        padding: 0 15px 15px;
    }
    &__products {
        margin: 40px 0;
        .cart-product {
            grid-template-columns: 110px 1fr;
            img {
                border: none;
            }
        }
    }
    &__estimation {
        display: grid;
        gap: 15px;
    }
    &__estimation-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px rgba(#1f2022, 0.15) solid;
        span,
        b {
            display: block;
            background: #e5e5e5;
            translate: 0 1px;
            &:first-child {
                padding-right: 10px;
            }
            &:last-child {
                padding-left: 10px;
            }
        }
    }
}
