.game-wrapper {
    font-family: 'Cinzel', serif;
    height: 100dvh;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.game-splash {
    text-align: center;
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: white;
    position: relative;
    z-index: 1;
    @include md {
        gap: 2rem;
    }
    &__text {
        font-size: 3.125rem;
        max-width: 70rem;
        line-height: 1.3;
        @include md {
            font-size: 1.5rem;
        }
    }
    &__start {
        font: inherit;
        border: 1px #990000 solid;
        font-size: 2.625rem;
        border-radius: 4rem;
        padding: 1rem 3rem;
        transition: all 0.3s;
        text-decoration: none;
        &:hover {
            border-color: white;
            background-color: white;
            color: black;
        }
        @include md {
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }
    }
    &__skip {
        font-family: 'Onest';
        letter-spacing: 2px;
        text-decoration: none;
        @include hover {
            text-decoration: underline;
        }
    }
}
