.parallax-banner {
    display: flex;
    min-height: 100vh;
    position: relative;
    color: white;
    &__container {
        width: 100%;
        margin-top: auto;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        gap: 2rem;
        align-items: start;
        @include md {
            grid-template-columns: 1fr;
            margin-bottom: 1rem;
            gap: 1rem;
        }
    }
    &__title {
        text-transform: none;
        margin-bottom: 0;
        font-size: 4.5rem;
        font-weight: bold;
        line-height: 1;
        @include md {
            font-size: 2.5rem;
        }
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        img {
            left: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            @include sm {
                object-position: right;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            background: linear-gradient(
                rgba($black, 1) 0%,
                rgba($black, 0) 30%,
                rgba($black, 0) 70%,
                rgba($black, 1) 100%
            );
            @include md {
                background: linear-gradient(
                    rgba($black, 1) 0%,
                    rgba($black, 0) 30%,
                    rgba($black, 0) 60%,
                    rgba($black, 1) 100%
                );
            }
        }
    }
}

.gum-text {
    margin: 3rem 0;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.1;
    @include md {
        font-size: 1.125rem;
        margin: 2rem 0;
    }
}
.boutik-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1.5rem;
    @include lg {
        grid-template-columns: 1fr;
    }
    &__img {
        position: relative;
        aspect-ratio: 1.5/1;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
        }
        &_1 {
            grid-column: 1/3;
            grid-row: 1/3;
            @include lg {
                grid-column: auto;
                grid-row: auto;
            }
        }
        &_2 {
            align-self: end;
            grid-column: 3/4;
            grid-row: 2/3;
            @include lg {
                grid-column: auto;
                grid-row: auto;
            }
        }
        &_3 {
            grid-column: 2/4;
            grid-row: 3/5;
            @include lg {
                grid-column: auto;
                grid-row: auto;
            }
        }
    }
    &__text {
        gap: 1.5rem;
        width: calc((100vw - 1270px) / 2 + (1270px - (100vw / 3 * 2)));
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include md {
            width: auto;
            padding: 0 1rem;
        }
        &_1 {
            margin-right: auto;
            padding-right: 1rem;
        }
        &_2 {
            padding-left: 1rem;
            grid-row: 4/5;
            margin-left: auto;
            justify-content: flex-end;
            @include lg {
                grid-column: auto;
                grid-row: auto;
            }
        }
    }
}

.banner-place {
    position: relative;
    overflow: hidden;
    height: 50rem;
    @include md {
        height: auto;
    }
    &__img {
        position: absolute;
        inset: 0;
        z-index: -1;

        @include md {
            position: relative;
            overflow: hidden;
            aspect-ratio: 1/1;
            z-index: 1;
        }
        img {
            position: absolute;
            width: 100%;
            min-height: 120%;
            object-fit: cover;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            background: linear-gradient(
                rgba($black, 0) 50%,
                rgba($black, 1) 100%
            );
        }
    }
    &__container {
        color: white;
        align-items: flex-end;
        justify-content: space-between;
        display: flex;
        height: 100%;
        padding-block: 3rem;
        gap: 3rem;
        @include md {
            color: black;
            padding-block: 1rem;
            padding-bottom: 0;
        }
        &_reverse {
            .banner-place__title {
                order: 2;
            }
        }
    }
    &__title {
        writing-mode: vertical-rl;
        rotate: 180deg;
        font-size: 9.375rem;
        line-height: 0.8;
        @include md {
            bottom: 0;
            color: white;
            position: absolute;
            writing-mode: initial;
            rotate: 0deg;
            padding: 1rem;
            font-size: 4rem;
            z-index: 1;
        }
        @include sm {
            font-size: 2.5rem;
        }
    }
    &__text {
        max-width: 50rem;
        font-weight: 100;
        font-size: 1.25rem;
        line-height: 1.2;
        @include md {
            font-weight: 300;
            font-size: 0.875rem;
            line-height: 1.5;
        }
    }
}

.boutik-route-note {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    line-height: 1.3;
    margin: 3rem 0;
    gap: 0.5rem;
    i {
        font-size: 2.5rem;
    }
    @include md {
        margin: 2rem 0;
    }
}

.parallax-lines {
    overflow: hidden;
    display: grid;
    gap: 1rem;
    @include sm {
        gap: 0.5rem;
    }
    &__line {
        display: flex;
        gap: 1rem;
        @include sm {
            @include scrollbars(0, transparent, transparent);
            overflow: auto;
            gap: 0.5rem;
        }
    }
    &__img {
        @include sm {
            flex: 0 0 70vw;
        }
        img {
            display: block;
            width: 100%;
        }
    }
}

.apointment-form {
    max-width: 50rem;
    .Ñ-checkbox {
        margin: 1.5rem 0;
    }
}

.gum-boutik-lines {
    &__line {
        padding: 3rem 0;
        border-top: 1px rgba($black, 0.1) solid;
        @include sm {
            padding: 1.5rem 0;
        }
    }
}

.gum-boutik-contacts {
    display: grid;
    grid-template-columns: 1fr auto;
    @include sm {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    h3 {
        margin: 0;
    }
    &__address {
        font-style: normal;
    }
    &__info {
        display: grid;
        gap: 1rem;
    }
    &__links {
        > div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
    &__socials {
        margin-left: 0.5rem;
        display: flex;
        gap: 0.5rem;
        a {
            font-size: 1.25rem;
            text-decoration: none;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.gum-boutik-authors {
    &__cols {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        @include sm {
            display: flex;
            overflow: auto;
            gap: 1.5rem;
            @include scrollbars(0, transparent, transparent);
            > div {
                flex: 0 0 65vw;
            }
        }
    }
}

.gum-boutik-requisits {
    font-size: 0.875rem;
}
