.matroskin-page {
    background-color: #d1d1d1;
    color: #1f2022;
}
.roboto {
    font-family: 'Roboto Flex', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings:
        'slnt' 0,
        'wdth' 151,
        'GRAD' 0,
        'XOPQ' 96,
        'XTRA' 468,
        'YOPQ' 79,
        'YTAS' 750,
        'YTDE' -203,
        'YTFI' 738,
        'YTLC' 514,
        'YTUC' 712;
}

.matroskin-section {
    padding: 50px 0;
    @include sm {
        padding: 20px 0;
    }
    &_green {
        color: white;
        background: radial-gradient(circle, #2f7824, #154826);
    }
    &_pb-0 {
        padding-bottom: 0;
    }
    &_pn {
        padding: 0;
    }
}
.matroskin-text-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    @include md {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
.matroskin-title {
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    @include clamp-calc(font-size, 25, 55);
    &_xl {
        @include clamp-calc(font-size, 35, 100);
    }
}

.matroskin-detail {
    overflow: hidden;
}

.fixed-parallax {
    overflow: hidden;
    min-height: 100dvh;
    position: relative;
    &_sm {
        min-height: 80dvh;
    }
    &__bg {
        position: absolute;
        inset: 0;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    &__overlay {
        position: absolute;
        background: rgba(black, 0.9);
        inset: 0;
    }
    @include md {
        aspect-ratio: 1;
        min-height: auto;
    }
}

.matroskin-hero {
    margin-top: 12%;
    position: relative;
    @include lg {
        margin-top: 15%;
    }
    @include sm {
        margin-top: 30%;
    }
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background: repeating-linear-gradient(
            to bottom,
            rgba(#9e9fa3, 1) 0px,
            rgba(#9e9fa3, 1) 60px,
            rgba(#9e9fa3, 0.5) 60px,
            rgba(#9e9fa3, 0.5) 120px
        );
        z-index: -1;
    }
    &__container {
        position: relative;
    }
    &__logo {
        width: 100%;
        max-width: 100%;
        margin-top: -8%;
        @include sm {
            margin-top: 0;
            translate: 0 -160%;
        }
    }
    &__watch {
        display: block;
        margin: -7% auto 0;
        @include lg {
            max-width: 70%;
        }
        @include md {
            position: relative;
            max-width: 90%;
            margin: -30% auto 0;
            z-index: 1;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 120px;
        left: 0;
        width: 100%;
        padding: 0 1rem;
        @include md {
            margin-top: -12%;
            position: relative;
            bottom: 0;
            padding: 0 0 30px 0;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            z-index: 1;
        }
    }
    &__copy {
        margin-top: 20px;
        @include sm {
            margin-top: 5px;
            font-size: 12px;
            br {
                display: none;
            }
        }
    }
    &__person {
        position: relative;
        width: 40%;
        max-width: 45%;
        font-size: 14px;
        @include md {
            width: auto;
            max-width: 100%;
        }
        @include sm {
            > img {
                max-width: 200px;
            }
        }
    }
    &__matroskin {
        position: absolute;
        max-width: 147px;
        bottom: 100%;
        left: 10%;
        transform-origin: left bottom;
        img {
            display: block;
            max-width: 100%;
        }
        @include sm {
            max-width: 100px;
        }
    }
}

.product-card {
    max-width: 320px;
    display: grid;
    padding: 20px;
    gap: 16px;
    background: white;
    box-shadow: 0 24px 44px 0 rgba(black, 0.25);
    border-radius: 24px;
    line-height: 1;
    .button {
        padding: 0 10px;
    }
    &__name {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__price {
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__vat {
        margin-top: 5px;
        font-size: 14px;
        opacity: 0.7;
    }
    @include sm {
        max-width: 100%;
    }
}

.matroskin-hearth {
    min-height: 530px;
    position: relative;
    display: flex;
    z-index: 1;
    @include md {
        min-height: 0;
        flex-direction: column;
    }
    &_second {
        min-height: 450px;
        @include md {
            min-height: 0;
        }
    }
    &__text {
        max-width: 380px;
        padding-bottom: 50px;
        @include md {
            max-width: 100%;
            padding-bottom: 0;
        }
    }
    &__image {
        position: absolute;
        right: -5%;
        top: -35%;
        width: 60%;
        @include md {
            position: static;
            width: 90%;
            margin: -5% auto;
        }
        @include sm {
            width: 100%;
            margin: -15% auto;
        }
        &_face {
            left: 40%;
            right: 0;
            width: 75%;
            top: 0%;
            @include md {
                width: 100%;
                margin: 5% auto -15%;
            }
            @include sm {
                width: 150%;
                margin: 5% 0 -35% -18%;
            }
        }
        img {
            translate: calc(var(--mouse-x) / -50) calc(var(--mouse-y) / -50);
            width: 100%;
        }
    }
}

.matroskin-calibr {
    overflow: hidden;
    display: flex;
    position: relative;
    aspect-ratio: 16/9;
    @include md {
        aspect-ratio: auto;
        display: block;
    }
    &__image {
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 65%;
        right: 0;
        @include md {
            position: static;
            max-width: 100%;
            margin-top: -50px;
        }
        @include sm {
            margin-top: -20px;
        }
    }
    .container {
        margin-top: auto;
        margin-bottom: 5%;
        width: 100%;
        @include md {
            margin-bottom: 0;
        }
    }
    &__text {
        width: 400px;
        @include md {
            width: 100%;
        }
    }
    &__title {
        margin-bottom: 30px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
        @include clamp-calc(font-size, 25, 55);
    }
}

.matroskin-cols-section {
    background: #1f2022;
    overflow: hidden;
    display: flex;
    &_reverse {
        flex-direction: row-reverse;
        @include sm {
            flex-direction: column-reverse;
        }
    }
    @include sm {
        flex-direction: column-reverse;
    }
    > div {
        flex: 0 0 50%;
        aspect-ratio: 1/1;
    }
    &__descr {
        color: white;
        background: #1f2022;
        display: flex;
        @include md {
            padding: 1rem;
        }
    }
    &__content {
        margin: auto;
    }
    &__text {
        max-width: 400px;
    }
    &__title {
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 30px;
        @include clamp-calc(font-size, 25, 40);
    }
    &__image {
        overflow: hidden;
        background: radial-gradient(circle, #5c5d60, #1f2022);
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.matroskin-specification-table {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    td {
        padding-bottom: 50px;
        vertical-align: top;
        @include sm {
            padding: 0;
        }
    }
    td:first-child {
        white-space: nowrap;
        padding-right: 70px;
        font-weight: 500;
        text-transform: uppercase;
        @include md {
            padding-right: 0;
            white-space: inherit;
        }
    }
    tr {
        @include sm {
            display: grid;
        }
    }
    @include sm {
        margin-top: 30px;
    }
    tbody {
        @include sm {
            display: grid;
            gap: 15px;
        }
    }
}

.buy-matroskin-watch {
    background: radial-gradient(circle, #2f7824, #154826);
    @include sm {
        position: relative;
        margin-top: 15%;
    }
    &__container {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        @include sm {
            display: block;
        }
    }
    .button {
        padding: 0 10px;
        max-width: 270px;
        @include sm {
            max-width: 100%;
        }
    }
    &__name {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__price {
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__vat {
        margin-top: 5px;
        font-size: 14px;
        opacity: 0.7;
    }
    &__image {
        position: relative;
        @include sm {
            position: absolute;
            top: -7%;
        }
        img {
            position: absolute;
            max-width: 85%;
            top: 60%;
            left: 60%;
            translate: -50% -50%;
            width: 100%;
            @include sm {
                position: static;
                translate: 0;
                width: 100%;
                max-width: 100%;
            }
        }
    }
    &__copy {
        margin-top: 65px;
        line-height: 1.4;
        font-size: 14px;
        opacity: 0.7;
        @include sm {
            margin-top: 0;
        }
    }
    &__text {
        line-height: 1;
        color: white;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        @include sm {
            position: relative;
            padding: 110% 20px 30px;
            z-index: 1;
        }
    }
}

.main:has(.buy-matroskin-watch) ~ footer {
    position: relative;
    z-index: 2;
}

.main:has(.matroskin-hearth) {
    overflow: hidden;
}
