.shop-grid {
    display: grid;
    gap: 60px 20px;
    grid-template-columns: repeat(3, 1fr);
    @include lg {
        grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
.shop-product {
    $root: &;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    text-decoration: none;
    &_carusel {
        @include sm {
            width: 75vw;
        }
    }
    @include hover {
        &:hover {
            #{$root}__image {
                img {
                    transform: scale(1.1);
                }
            }
            #{$root}__info {
                opacity: 0.7;
            }
        }
    }
    &_row {
        flex-direction: row;
        align-items: center;
        #{$root}__image {
            width: 135px;
            @include md {
                width: 100%;
            }
        }
        @include md {
            width: 165px;
            flex-direction: column;
            align-items: flex-start;
        }
        @include sm {
            width: 45vw;
        }
    }
    &__image {
        overflow: hidden;
        img {
            width: 100%;
            vertical-align: middle;
            transition: all 0.3s;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__name {
        font-size: 12px;
        color: #7c7c7c;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__series {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
    }
    &__price {
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    &__status {
        display: block;
        position: absolute;
        background: #2a2b2d;
        text-transform: uppercase;
        color: #fff;
        border-radius: 20px;
        padding: 8px 15px;
        font-size: 12px;
        letter-spacing: 2px;
        left: 20px;
        top: 20px;
        @include sm {
            left: 10px;
            top: 10px;
            padding: 4px 10px;
            font-size: 10px;
        }
    }
    &_watch {
        gap: 0;
        #{$root}__info {
            flex: 1;
            background: white;
            padding: 20px 30px;
            gap: 5px;
            @include sm {
                padding: 15px;
            }
        }
        #{$root}__descr {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            @include sm {
                flex-direction: column-reverse;
            }
        }
        #{$root}__series {
            margin-bottom: 5px;
        }
        #{$root}__props {
            text-transform: uppercase;
            font-size: 12px;
            color: #7c7c7c;
        }
        #{$root}__price {
            align-self: flex-end;
            @include sm {
                align-self: flex-start;
                margin-bottom: 5px;
            }
        }
    }
}

.faq-accordion {
    &__item {
        border-bottom: 1px rgba(black, 0.15) solid;
    }
    &__title {
        margin: 0;
        font-weight: 300;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        @include sm {
            padding: 20px 0;
            font-size: 14px;
        }
        &:hover {
            opacity: 0.7;
        }
        &:after {
            content: '';
            flex: 0 0 auto;
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 1px #1f2022 solid;
            border-right: 1px #1f2022 solid;
            transform: rotate(45deg);
            opacity: 0.5;
            transition: all 0.3s;
        }
        &_active:after {
            transform: rotate(-135deg);
        }
    }
    &__content {
        display: none;
        padding-bottom: 30px;
        @include sm {
            padding-bottom: 20px;
        }
    }
}

.last-view-product {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    @include md {
        overflow: auto;
        scroll-behavior: smooth;
        gap: 10px;
        @include scrollbars(0px, transparent, transparent);
    }
}
