.for-owners {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 40px 60px;
    background-image: url('../img/used/restimon.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 30px 0;
    margin: 60px 0;
    gap: 30px;
    @include lg {
        background-image: none;
        padding: 30px;
        margin: 30px 0;
    }
    @include sm {
        flex-direction: column;
        gap: 15px;
        padding: 20px 15px;
        margin: 30px -15px;
    }
    &__text {
        max-width: 520px;
        margin-right: auto;
        margin-left: 230px;
        @include lg {
            margin-left: 0;
        }
    }
    &__title {
        margin-bottom: 10px;
    }
    &__button {
        flex: 0 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.sell-service-advantages {
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    gap: 10%;
    @include lg {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    &__props {
        display: flex;
    }
    &__title {
        margin-bottom: 30px;
        @include md {
            br {
                display: none;
            }
        }
    }
    &__props-item {
        flex: 0 0 33%;
        display: flex;
        gap: 10px;
        @include md {
            flex-direction: column;
        }
        @include sm {
            font-size: 12px;
        }
        i {
            font-size: 50px;
            @include sm {
                font-size: 36px;
            }
        }
    }
}
