.venus-section-title {
    margin-bottom: 80px;
    text-transform: uppercase;
    line-height: 1;
    @include clamp-calc(font-size, 35, 100);
    @include md {
        margin-bottom: 2rem;
    }
}
.venus-text-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    @include md {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
.venus-text-center {
    max-width: 900px;
    margin: 0 auto;
}

.venus-lg-text {
    font-weight: 200;
    line-height: 1.1;
    @include clamp-calc(font-size, 20, 40);
    margin: 40px 0;
    @include md {
        margin: 20px 0;
    }
}

.venus-hero {
    overflow: hidden;
    img {
        width: 100%;
    }
    &__age {
        left: 5%;
        top: 120%;
        color: #434140;
        border-radius: 50%;
        position: absolute;
        border: 1px solid currentColor;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @include clamp-calc(font-size, 20, 75);
        @include clamp-calc(width, 40, 125);
        @include clamp-calc(height, 40, 125);
    }
    &__header {
        color: #434140;
        position: relative;
        z-index: 1;
    }
    &__title {
        margin: 0;
        text-align: center;
        font-weight: 100;
        line-height: 0.8;
        @include clamp-calc(font-size, 100, 300);
        @include clamp-calc(letter-spacing, 5, 96);
    }
    &__subtitle {
        @include clamp-calc(font-size, 15, 30);
        @include clamp-calc(letter-spacing, 5, 43.5);
        @include clamp-calc(padding-left, 5, 22);
        white-space: nowrap;
        text-align: center;
    }
    &__image-wrapper {
        margin-top: -13%;
        aspect-ratio: 1/1;
        position: relative;
        @include sm {
            aspect-ratio: 1/2;
            margin-top: -20%;
        }
    }
    &__watch {
        display: flex;
        align-items: center;
        position: absolute;
        inset: 0;
        z-index: 1;
        padding: 0 10%;
        @include sm {
            padding: 0;
            margin: 0 -40px;
        }
    }
    &__bg {
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.venus-watch-type-one {
    overflow: hidden;
    margin: 70px 0;
    position: relative;
    padding: 0 5%;
    @include md {
        margin: 30px -15px;
        padding: 0;
    }
    &__watch {
        max-width: 100%;
        display: block;
        @include sm {
            width: calc(100% + 20%);
            max-width: none;
            margin-left: -10%;
        }
    }
    &__bg {
        position: absolute;
        top: 21.4%;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        @include sm {
            top: 14%;
        }
        img {
            display: block;
            max-width: 100%;
            @include sm {
                height: 200%;
                object-fit: cover;
            }
        }
        &:before {
            content: '';
            display: block;
            background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(0, 56, 96, 0.8) 0%,
                rgba(139, 228, 255, 0) 100%
            );
            width: 80%;
            height: 90%;
            position: absolute;
            left: 16%;
            z-index: 1;
            rotate: -30deg;
        }
    }
}

.animate-words {
    @include md {
        overflow: hidden;
    }
}

.venus-symbol {
    overflow: hidden;
    &__content {
        position: relative;
        margin-bottom: 100px;
        @include sm {
            margin-inline: -40px;
            margin-bottom: 70px;
        }
    }
    &__circle-part {
        max-width: 1000px;
        margin: 0 auto;
        aspect-ratio: 1;
        position: relative;
        &:before {
            content: '';
            height: 100%;
            width: 100%;
            display: block;
            border-color: #dadada;
            border-style: solid;
            border-radius: 50%;
            @include clamp-calc(border-width, 40, 140);
        }
    }
    &__cross-part {
        margin: -2% auto;
        @include clamp-calc(height, 150, 600);
        @include clamp-calc(width, 40, 140);
        background: #dadada;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #dadada;
            rotate: 90deg;
        }
    }
    &__watch {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        img {
            margin: auto;
            max-width: 80%;
        }
    }
    &__three {
        max-width: 30%;
        position: absolute;
        bottom: 0;
        left: 50%;
        bottom: 0;
        translate: -50% 0;
        @include sm {
            max-width: 40%;
        }
        img {
            max-width: 100%;
        }
    }
    &__side-text {
        display: flex;
        flex-direction: column;
        opacity: 0.1;
        position: absolute;
        text-transform: uppercase;
        @include clamp-calc(font-size, 80, 500);
        line-height: 0.8;
        translate: -40% 0;
        @include md {
            display: none;
        }
    }
    &__circle-text {
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        textPath {
            font-family: 'Playfair';
            font-weight: 100;
            font-size: 3px;
            opacity: 0.7;
            @include clamp-calc(letter-spacing, 2, 2);
        }
        @include md {
            left: -5%;
            top: -5%;
            width: 110%;
            height: 110%;
        }
    }
}

.shell-icon {
    text-align: center;
    margin-bottom: 50px;
    @include sm {
        margin-bottom: 15px;
    }
    img {
        @include clamp-calc(max-width, 55, 110);
    }
}

.venus-parallax {
    position: relative;
    background: #d9d9d9;
    max-width: 1000px;
    margin: 50px auto;
    aspect-ratio: 1/0.8;
    @include sm {
        margin: 25px -15px;
        aspect-ratio: 1/1;
    }
    .page-section:has(&) {
        overflow: hidden;
    }
    &__venera {
        position: absolute;
        max-width: 45%;
        left: 5%;
        translate: calc(var(--mouse-x) / -50) calc(var(--mouse-y) / -50);
        z-index: 1;
        @include sm {
            max-width: 65%;
            left: -5%;
            top: -20%;
            rotate: -10deg;
        }
    }
    &__watch {
        position: absolute;
        max-width: 60%;
        bottom: -10%;
        right: 0%;
        rotate: 30deg;
        translate: calc(var(--mouse-x) / 50) calc(var(--mouse-y) / 50);
        z-index: 1;
        @include sm {
            max-width: 80%;
            bottom: -10%;
            right: 0%;
        }
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(217, 217, 217, 0) 100%
        );
        filter: blur(5px);
        width: 20%;
        aspect-ratio: 3/1;
        rotate: -30deg;
        left: 27%;
        top: 50%;
        translate: calc(var(--mouse-x) / -30) calc(var(--mouse-y) / -30);
        @include sm {
            width: 80%;
            left: 13%;
            top: 25%;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(217, 217, 217, 0) 100%
        );
        filter: blur(5px);
        width: 40%;
        aspect-ratio: 3/1;
        rotate: -45deg;
        right: 0%;
        top: 70%;
        translate: calc(var(--mouse-x) / 20) calc(var(--mouse-y) / 20);
        @include sm {
            width: 80%;
        }
    }
}

.venus-specification-image {
    position: relative;
    overflow: hidden;
    margin: 70px 0;
    &__bg {
        position: absolute;
        top: 0;
        z-index: -1;
        img {
            height: 130%;
        }
    }
    img {
        display: block;
        width: 100%;
    }
    @include sm {
        overflow: hidden;
        margin: 30px -15px;
    }
}

.venus-specification-table {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    td {
        padding-bottom: 50px;
        vertical-align: top;
        @include sm {
            padding-bottom: 15px;
        }
    }
    td:first-child {
        white-space: nowrap;
        padding-right: 50px;
        font-weight: 500;
        text-transform: uppercase;
        @include md {
            padding-right: 30px;
            white-space: inherit;
        }
    }
}

.venus-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    &__image {
        position: relative;
        overflow: hidden;
        height: 70vh;
        width: 100%;
        max-width: 70%;
        @include lg {
            max-width: 100%;
            height: auto;
        }
        @include sm {
            aspect-ratio: 2/1.5;
        }
        img {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            object-fit: cover;
            @include lg {
                position: static;
                translate: 0;
            }
            @include sm {
                height: 130%;
            }
        }
    }
    @include sm {
        gap: 1rem;
    }
    &__more {
        width: 100%;
        max-width: 250px;
        @include sm {
            max-width: none;
        }
    }
}
