.venus-section-title {
    margin-bottom: 80px;
    text-transform: uppercase;
    line-height: 1;
    @include clamp-calc(font-size, 40, 125);
    @include md {
        margin-bottom: 2rem;
    }
}
.venus-text-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    @include md {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
.venus-hero {
    overflow: hidden;
    img {
        width: 100%;
    }
    &__header {
        position: relative;
        z-index: 1;
    }
    &__title {
        margin: 0;
        text-align: center;
        font-weight: 100;
        line-height: 1;
        color: #434140;
        @include clamp-calc(font-size, 100, 300);
        @include clamp-calc(letter-spacing, 5, 100);
    }
    &__subtitle {
        @include clamp-calc(font-size, 15, 30);
        @include clamp-calc(letter-spacing, 5, 40);
        white-space: nowrap;
        text-align: center;
    }
    &__image-wrapper {
        margin-top: -17%;
        aspect-ratio: 1/1;
        position: relative;
        @include sm {
            aspect-ratio: 1/2;
            margin-top: -25%;
        }
    }
    &__watch {
        display: flex;
        align-items: center;
        position: absolute;
        inset: 0;
        z-index: 1;
        padding: 0 10%;
        @include sm {
            padding: 0;
            margin: 0 -40px;
        }
    }
    &__bg {
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.venus-watch-type-one {
    overflow: hidden;
    margin: 70px 0;
    position: relative;
    padding: 0 5%;
    @include md {
        margin: 30px -15px;
        padding: 0;
    }
    &__watch {
        max-width: 100%;
        display: block;
        @include sm {
            width: calc(100% + 20%);
            max-width: none;
            margin-left: -10%;
        }
    }
    &__bg {
        position: absolute;
        top: 21.4%;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        @include sm {
            top: 14%;
        }
        img {
            display: block;
            max-width: 100%;
            @include sm {
                height: 200%;
                object-fit: cover;
            }
        }
    }
}

.animate-words {
    @include md {
        overflow: hidden;
    }
}
