<header
    class="@if (theme === 'black') {header header_black} @if (theme === 'white') {header}"
>
    <div class="container">
        <button class="header-burger">
            <div class="header-burger__lines"></div>
            <div class="header-burger__text">Меню</div>
        </button>
        <a href="#" class="header__logo"> </a>
        <div class="header__tools">
            <a href="" class="header__tools-link header__tools-link_cart">
                <i class="icon-shopping-bag"></i>
                <span class="header__cart-text">Корзина</span>
                <span class="header__cart-badge">5</span>
            </a>
            <a href="" class="header__tools-link header__tools-link_user">
                <i class="icon-user"></i>
            </a>
            <div class="header__search">
                <form id="searchForm" class="header__search-form">
                    <input
                        class="header__search-input"
                        type="text"
                        name=""
                        id=""
                        placeholder="Я хочу найти..."
                    />
                    <div class="header__search-drop">
                        <div class="search-result">
                            <a href="" class="search-result__item">
                                <div class="search-result__product">
                                    <img
                                        src="img/shop/shop-item-1.jpg"
                                        alt=""
                                        class="search-result__product-img"
                                    />
                                    <div class="search-result__product-info">
                                        <div
                                            class="search-result__product-series"
                                        >
                                            JOKER SKELETON
                                        </div>
                                        <div
                                            class="search-result__product-price"
                                        >
                                            18 700 ₽
                                        </div>
                                    </div>
                                </div>
                                <div class="search-result__type">
                                    LONG-SLEEVED T-SHIRT
                                </div>
                            </a>
                            <a href="" class="search-result__item">
                                <div class="search-result__product">
                                    <img
                                        src="img/shop/shop-item-1.jpg"
                                        alt=""
                                        class="search-result__product-img"
                                    />
                                    <div class="search-result__product-info">
                                        <div
                                            class="search-result__product-series"
                                        >
                                            JOKER SKELETON
                                        </div>
                                        <div
                                            class="search-result__product-price"
                                        >
                                            18 700 ₽
                                        </div>
                                    </div>
                                </div>
                                <div class="search-result__type">часы</div>
                            </a>
                            <a href="" class="search-result__item">
                                <div class="search-result__category">
                                    Наручные часы
                                </div>
                                <div class="search-result__type">Категория</div>
                            </a>
                            <a href="" class="search-result__item">
                                <div class="search-result__category">
                                    Футболки
                                </div>
                                <div class="search-result__type">Категория</div>
                            </a>
                        </div>
                        <span class="header__popular-title">
                            Популярные запросы
                            <i></i>
                        </span>
                        <div class="header__popular-list">
                            <a href="">Ристмоны</a>
                            <a href="">Ристмоны</a>
                            <a href="">Ристмоны</a>
                            <a href="">Ристмоны</a>
                            <a href="">Ристмоны</a>
                            <a href="">Ристмоны</a>
                            <a href="">Ристмоны</a>
                            <a href="">Ристмоны</a>
                        </div>
                    </div>
                    <button type="submit" class="header__search-submit">
                        <i class="icon-search"></i>
                    </button>
                </form>
                <button id="searchOpen" class="header__search-btn">
                    <i class="icon-search"></i>
                </button>
            </div>
            <div class="language-select">
                <div class="language-select__current">
                    US
                    <i class="icon icon-arrow-down"></i>
                </div>
                <div class="language-select__drop">
                    <a href="" class="language-select__item">English</a>
                    <a href="" class="language-select__item">Russian</a>
                    <a href="" class="language-select__item">Czech</a>
                </div>
            </div>
        </div>
    </div>
    <div id="menu" class="navigation">
        <div class="container">
            <nav class="navigation__cols">
                <div class="navigation__block">
                    <a href="#" class="navigation__title">НАРУЧНЫЕ ЧАСЫ</a>
                    <ul class="navigation__links">
                        <li>
                            <a href=""
                                >links-item-1
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-2
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-3
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-4
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-5
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-6
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-7
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-8
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-9
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-10
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                >links-item-11
                                <img src="img/main/nav-preview.png" alt=""
                            /></a>
                        </li>
                    </ul>
                </div>
                <div class="navigation__block">
                    <a href="#" class="navigation__title">ИНТЕРЬЕРНЫЕ ЧАСЫ</a>
                    <ul class="navigation__links">
                        <li><a href="">links-item-1</a></li>
                        <li><a href="">links-item-2</a></li>
                        <li><a href="">links-item-3</a></li>
                        <li><a href="">links-item-4</a></li>
                    </ul>
                </div>
                <div class="navigation__block">
                    <a href="#" class="navigation__title"
                        >ИСТОРИЧЕСКИЕ ШЕДЕВРЫ</a
                    >
                    <ul class="navigation__links">
                        <li><a href="">links-item-1</a></li>
                        <li><a href="">links-item-2</a></li>
                        <li><a href="">links-item-3</a></li>
                        <li><a href="">links-item-4</a></li>
                    </ul>
                </div>
                <div class="navigation__block">
                    <a href="#" class="navigation__title">ОНЛАЙН-МАГАЗИН</a>
                    <ul class="navigation__links">
                        <li><a href="">Мерч</a></li>
                        <li><a href="">Ремешки</a></li>
                        <li><a href="">Книги</a></li>
                        <li><a href="">Аксессуары</a></li>
                    </ul>
                </div>
                <div class="navigation__block">
                    <a href="#" class="navigation__title">МАНУФАКТУРА</a>
                    <ul class="navigation__links">
                        <li><a href="">links-item-1</a></li>
                        <li><a href="">links-item-2</a></li>
                        <li><a href="">links-item-3</a></li>
                        <li><a href="">links-item-4</a></li>
                    </ul>
                </div>
                <div class="navigation__block">
                    <a href="#" class="navigation__title">РАЗНОЕ</a>
                    <ul class="navigation__links">
                        <li><a href="">links-item-1</a></li>
                        <li><a href="">links-item-2</a></li>
                        <li><a href="">links-item-3</a></li>
                        <li><a href="">links-item-4</a></li>
                        <li><a href="">links-item-5</a></li>
                        <li><a href="">links-item-6</a></li>
                    </ul>
                </div>
            </nav>
            <div class="navigation__footer">
                <div class="navigation__adress">
                    Россия. Москва, ул. Речников 15 стр. 2
                </div>
                <div class="navigation__footer-links">
                    <a href="">Контакты</a>
                    <a href="">Сервис</a>
                    <a href="">Где купить</a>
                    <a href="">Клуб владельцев</a>
                </div>
                <div class="navigation__socials">
                    <a href="">
                        <i class="icon-penterest"></i>
                    </a>
                    <a href="">
                        <i class="icon-vk"></i>
                    </a>
                    <a href="">
                        <i class="icon-youtube"></i>
                    </a>
                    <a href="">
                        <i class="icon-telegram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
