.button {
    $root: &;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: none;
    border: 1px transparent solid;
    border-radius: 25px;
    padding: 0px 50px;
    line-height: 20px;
    min-height: 50px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    gap: 10px;
    @include md {
        padding: 0px 15px;
    }
    &_icon {
        gap: 10px;
        .icon {
            font-size: 24px;
        }
    }
    &_white {
        color: white;
        border-color: white;
        &:hover {
            background: #fff;
            color: black;
        }
    }
    &_black {
        color: black;
        border-color: black;
        &:hover {
            background: black;
            color: white;
        }
        &#{$root}_filled {
            background: black;
            color: white;
            &:hover {
                background: transparent;
                color: black;
            }
        }
    }
    &_gray {
        color: white;
        border-color: rgba(white, 0.25);
        background: rgba(black, 0.2);
        backdrop-filter: blur(10px);
        &:hover {
            background: white;
            color: black;
        }
    }
    &_medium {
        font-size: 14px;
        min-height: 38px;
        padding: 0 20px;
    }
    &_full {
        width: 100%;
    }
    &_more {
        margin-top: 30px;
    }
    &_load {
        color: transparent;
        pointer-events: none;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            border: 2px black solid;
            border-left-color: transparent;
            border-top-color: transparent;
            border-radius: 50%;
            margin: -15px 0 0 -15px;
            left: 50%;
            top: 50%;
            animation: Spin 0.5s infinite linear;
        }
    }
}

.toggle-btn {
    display: inline-flex;
    align-items: center;
    height: 40px;
    border: 1px rgba(#1f2022, 0.15) solid;
    border-radius: 20px;
    font-size: 16px;
    padding: 0 24px;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    &:hover {
        border-color: #1f2022;
    }
    &:has(input:checked) {
        border-color: #1f2022;
        background: #1f2022;
        color: #fff;
    }
}
