@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');

@font-face {
    font-family: 'TT Ricordi Allegria Trl';
    src:
        url('../fonts/subset-TTRicordiAllegriaTrl-Regular.woff2')
            format('woff2'),
        url('../fonts/subset-TTRicordiAllegriaTrl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
