@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@font-face {
    font-family: 'TT Ricordi Allegria Trl';
    src:
        url('../fonts/subset-TTRicordiAllegriaTrl-Regular.woff2')
            format('woff2'),
        url('../fonts/subset-TTRicordiAllegriaTrl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
