*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    font-family: 'Onest';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.3;
    text-rendering: optimizeSpeed;
    background: #e5e5e5;
    &.lock {
        overflow: hidden;
    }
}
input,
select,
button {
    font-family: 'Onest';
}
.main {
    flex: 1 0 auto;
    &:not(:has(.hero-slider, .page-hero)) {
        padding-top: 60px;
    }
}
.footer,
.header {
    flex-shrink: 0;
}

.container {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-gap;
    padding-right: $container-gap;
}
.container-fluid {
    max-width: 100%;
}
.divder {
    margin: 80px 0;
    border: none;
    height: 1px;
    background: rgba(#1f2022, 0.15);
}
.page-section {
    margin-top: 100px;
    @include md {
        margin-top: 50px;
    }
    &:last-child {
        margin-bottom: 100px;
        @include md {
            margin-bottom: 50px;
        }
    }
    &:has(.photo-carusel) {
        overflow: hidden;
    }
}
.section-head {
    &__subtitle {
        display: block;
        color: #1f2022;
        margin-bottom: 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include lg {
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
    &__title {
        text-transform: uppercase;
    }
    .light {
        color: rgba(#1f2022, 0.4);
    }
    &_text-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        @include md {
            grid-template-columns: 1fr;
        }
    }
    &__text {
        margin-bottom: 60px;
        @include md {
            margin-top: -30px;
            margin-bottom: 40px;
        }
    }
}
p {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}
h1 {
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    @include lg {
        font-size: 32px;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }
    @include md {
        font-size: 28px;
        margin-bottom: 20px;
    }
}
h2 {
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    @include lg {
        font-size: 32px;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }
    @include md {
        font-size: 28px;
        margin-bottom: 20px;
    }
}
h3 {
    font-weight: 100;
    font-size: 34px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    @include lg {
        font-size: 28px;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }
    @include md {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
