:root {
    --color-text: #292929;
    --color-main: #ffffff;
    --color-accent: #fff000;
    --color-rare: #ff0000;

    --container-gap: 15px;
    --container-width: 1270px;

    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1440px;
}
