@import 'reset';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'fonts';
@import 'components';

@import 'modules/footer';
@import 'modules/header';
@import 'modules/modals';

@import 'pages/index';
@import 'pages/category';
@import 'pages/watchItem';
@import 'pages/series';
@import 'pages/manufactura';
@import 'pages/stores';
@import 'pages/news';
@import 'pages/vacancy';
@import 'pages/shop';
@import 'pages/shopCatalog';
@import 'pages/shopItem';
@import 'pages/checkout';
@import 'pages/account';
@import 'pages/howBuy';
@import 'pages/contacts';
@import 'pages/media';
@import 'pages/about';
@import 'pages/club';
@import 'pages/used';
@import 'pages/owners';
@import 'pages/announcement';
@import 'pages/gum';
@import 'pages/game';
@import 'pages/venus';
